body{
	width: 100%;
	bottom: 0;
	padding: 0;
	margin: 0;
}

footer{
	text-align: center;
}

#bottom_image{
	display: block;
	margin: auto;
}

#include_content{
	width: 100%;
}

#account_form{
	display: inline-block;
	text-align: left;
	margin: auto;
}

.main_menu{
	background-color: white!important;
	opacity: 0.8!important;;
	width: 100%!important;
	padding: 0!important;
}

.title_menu_main_a{
	color: black!important;
}

.title_menu_main_a:hover{
	color: #337ab7!important;
}

.signup_error {
	border: red;
}

.container{
	width: 100%;
	display: inline-block;
	text-align: center;
}
.user_infos{
	display: block;
	padding: 0 0 10px 0;
	font: 18px Lora,'Times New Roman',serif;
}

.user_infos_values{
	display: inline-block;
}