#macro(footerLayout)
<!-- === FOOTER SECTION === -->
<tr>
    <td align="center" valign="top"  bgcolor="#30373b" class="em_aside">
        <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" class="em_main_table" style="table-layout:fixed;">
            <tr>
                <td height="35" class="em_height">&nbsp;</td>
            </tr>

            <tr>
                <td align="center" style="font-family:'Open Sans', Arial, sans-serif; font-size:12px; line-height:18px; color:#848789;text-transform:uppercase;">
                    If you do not wish to receive any further emails from us, please  <span style="text-decoration:underline;"><a href="https://residencedeshautsdemenaye.herokuapp.com/unsubscribe/${user.email}" target="_blank" style="text-decoration:underline; color:#848789;">unsubscribe</a></span>
                </td>
            </tr>
            <tr>
                <td height="35" class="em_height">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>
<!-- === //FOOTER SECTION === -->
#end